{% extends '@User/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

Go to <a href="{{ path('app_homepage') }}">Dashboard!</a>
    <script language="javascript">window.location.href = "{{ path('app_homepage') }}"</script>
{% endblock %}
