{% extends '@Resume/layout.html.twig' %}
<<<<<<< HEAD:src/ResumeBundle/Resources/views/entities/userdetails/new.html.twig
=======

>>>>>>> khaledCustomUser:src/ResumeBundle/Resources/views/userdetails/new.html.twig

{% block body %}
    <h1>Userdetail creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('informations_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
