{% extends '@Resume/layout.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <style>
        .container {
            position: relative;
            width: 50%;
        }
        .flex{
            display: flex;
        }
        .image {
            opacity: 1;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            display : block;
            margin: auto;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
        }

        /*.container:hover .image {*/
            /*opacity: 0.3;*/
        /*}*/

        /*.container:hover .middle {*/
            /*opacity: 1;*/
        /*}*/

        .text {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            padding: 16px 32px;
        }
        #newCV:hover .image {
            opacity: 0.3;
        }
        #newCV:hover .middle {
            opacity: 1;
        }
        #allCV:hover .image {
            opacity: 0.3;
        }
        #allCV:hover .middle {
            opacity: 1;
        }



    </style>
    <h2 class="text-center">Tableau de bord</h2>
    <hr>


        <div class="row">
            <a href="{{ path('resume_new') }}">
                <div id="newCV" class="col-lg-6 flex" style="height: 300px; background-color: #f7ecb5" ; >
                    <img src="{{ asset('images/curriculum.png') }}" alt="Avatar" class="image">
                    <div class="middle ">
                        <p>Crée un nouveau CV</p>
                    </div>
                </div>
            </a>
            <a href="{{ path('resume_index') }}">
                <div id="allCV" class="col-lg-6 flex" style="height: 300px; background-color: #7f9ea1" ; >
                    <img src="{{ asset('images/folder.png') }}" alt="Avatar" class="image">
                    <div class="middle ">
                        <p>Mes CV</p>
                    </div>
                </div>
            </a>
            {#<div class="col-lg-6" style="height: 300px; background-color: #8ca17f">#}
                {#{% include "ResumeBundle:entities/resume:listResume.html.twig" %}#}
            {#</div>#}
        </div>


{% endblock body %}